.smiling-women-image img{
/* 
    width: 100px;
    height: 100px; */
}

.smiling-women-image-container{
    /* padding-left: 3rem; */
    margin-top: 4rem;
    
}

.smiling-women-image-container img{
    /* padding-left: 3rem; */
    /* width: 596.86px;
    height: 622px; */
    width: 90%;
    z-index: 2;
    position: relative;
}
.booking-now-container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: hidden;
}

.booking-now-container h1{

text-align: left;
font-size: 54px;


}

/* .smile-image-wrapper{
  max-width: 300px;
  max-height: 300px;
  display: flex;
  justify-content: center;
  img{
    width: 100%;
    height: 100%;
  }
} */

/* .smiling-women-background{
position: absolute;
top:45%;
z-index:0 ;
    width: 50%;
    height: 84%;
    
   
    background: linear-gradient(#FFD68A 10%,
     #FFF2DA 100%);
    border-top-left-radius: 200px; 
    border-top-right-radius: 200px; 
  
} */
.booking-page-card-container{
    
    display: flex;
    flex-direction: row;
    margin-top:-2rem;
    z-index:99;
    position: relative;
    margin-bottom: 5%;
}

.booking-page-card {
 text-align: left;
    padding: 20px;
    margin: 1rem;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 8px rgba(0, 0, 0, 0.03); 
    background-color: #ffffff;
    width: 25%;
    
  }
  

  .Booking-Now-button{
    background-color: rgb(137,219,123);
    border:none;
    font-size: x-large;
    box-shadow: 4px 4px 8px 3px rgb(137,219,123,0.7);
    font-weight: 900;
    display: flex;
    align-self: flex-start;
    padding-left: 2rem;
    padding-right: 2rem;
    /* z-index: 10; */
    position: relative;
}

  .Booking-Now-button img{

    margin-left: 8px;
    margin-top: 0.8rem;
  }

  .button-bg-img{

    margin-top: -5.5rem;
    margin-left:-15%;
    z-index: 0;
    
  }


  .Booking-Now-button-container{

    margin-left: -4rem;
  }





@media (max-width: 768px) {
  .booking-now-container {
    flex-direction: column; 
    align-items: center;
    padding: 0;
  }
  

  .booking-now-container-text h1{
    align-items: left;
    justify-content: center;

  }

  .booking-now-container h1 {
    font-size: 36px; 
    text-align: center; 
  }

  .smiling-women-image-container {
    margin-top: 2rem;
   
  }

  .smiling-women-image-container img {
    padding-left: 0; 
  
  }

  .booking-page-card-container {
    flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
    justify-content: center; /* Center align cards on smaller screens */
  }

  .booking-page-card {
    width: 80%; /* Set card width to 80% on smaller screens */
    margin: 1rem 0; /* Adjust margin for smaller screens */
  }

  .Booking-Now-button-container {
    margin-left: 0; /* Remove left margin for smaller screens */
    margin-top: 2rem; /* Add top margin for spacing on smaller screens */
    text-align: center; /* Center align button container on smaller screens */
  }

  .button-bg-img {
    display: none; /* Hide background image on smaller screens */
  }
}
