.App {
  text-align: center;
  padding-left: 8rem;
  padding-right: 8rem;
}

@media (max-width: 768px){
  .App {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


/* align items start because default is stretch for consulatation card */