.App {
  text-align: center;
  justify-content: center;
  padding-left: 8%;
  padding-right: 8%;
  margin: 0 auto;
  align-items: center;
  /* padding :100px, 130px, 100px, 130px; */
}

@media (max-width: 768px){
  .App {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


/* align items start because default is stretch for consulatation card */